/* desktop */
* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
html,
body {
  background-color: whitesmoke;
  margin: 0 auto;
  min-height: 100vh;
}
header {
  background-color: #2a363b;
  color: #f2f2f2;
  padding: 2rem;
}
#dropdown {
  background-color: lightgray;
  text-align: center;
  padding: 20px 0 20px;
  font-weight: bold;
}
h1 {
  font-family: "Archivo", sans-serif;
  font-size: 6rem;
  font-weight: 400;
  text-transform: uppercase;
}
sup {
  font-size: 2rem;
}
h2 {
  font-family: "Source Code Pro", monospace;
  font-size: 1.25rem;
  font-weight: 400;
}
h3 {
  background-color: #181818;
  color: white;
  font-family: "Archivo", sans-serif;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 10px;
  padding: 20px 15px 2px 5px;
  margin-top: 0;
  width: fit-content;
}
.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 2rem;
  flex-grow: 1;
  justify-content: space-between;
  row-gap: 40px 40px;
}
.card {
  margin: 0 0 60px 0;
  flex-basis: 20%;
}

/* mobile */
@media (max-width: 767px) {
  header {
    background-color: #2a363b;
    color: #f2f2f2;
    padding: 2rem;
    position: sticky;
    top: 0%;
  }
  h1 {
    font-size: 3rem;
  }
  sup {
    font-size: 1.5rem;
  }

  .card-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 2rem;
  }
  .card {
    margin: 20px 0px 60px 20px;
    padding: 0;
    width: -webkit-fill-available;
    flex-basis: 100%;
  }
  .card a {
    font-size: 1.5rem;
  }
}

/* desktop */
li {
  list-style-type: none;
  padding-top: 20px;
}
li a {
  color: #181818;
  font-family: "Archivo Narrow", sans-serif;
  font-size: 1.6rem;
  padding: 3px 4px 3px 4px;
  text-decoration: none;
  transition: 300ms;
}
li a:hover {
  background-color: #181818;
  color: #f2f2f2;
  padding: 3px 12px 3px 4px;
  transition: 400ms;
}
